name: C/C++ CI
 
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  windows-x86_64:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Build
      run: make
    - name: Package
      run: |
            cp -r ./Art ./dependencies
            cp -r ./Music ./dependencies
            cp -r ./Game.exe ./dependencies
    - name: Upload Artifacts
      uses: actions/upload-artifact@v2
      with:
        name: windows-x86_64
        path: |
             ./dependencies/
 
        if-no-files-found: error

  linux-x86_64:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: Install dependencies
      run: |
          sudo apt-get update
          curl -L https://github.com/AppImage/AppImageKit/releases/download/continuous/appimagetool-x86_64.AppImage --output ./appimagetool
          chmod a+x ./appimagetool
          sudo mv appimagetool /usr/local/bin/appimagetool
          sudo apt-get install -y libfuse2
    - name: install SFML
      run: sudo apt-get install libsfml-dev
    

    
    - name: Build
      run: make

    - name: Package
      run: | 
            mkdir game
             mkdir game/usr/
             mkdir game/usr/bin/
             cp ./Game game/usr/bin/
            cp ./game.desktop game/
            cp ./AppRun game/
            chmod a+x game/AppRun
            chmod a+x game/usr/bin/Game
            mv game game.AppDir
            ARCH=x86_64 appimagetool game.AppDir


    - name: Upload Artifacts
      uses: actions/upload-artifact@v2
      with:
        name: linux-x86_64
        path: |
              ./game-x86_64.AppImage
        
        if-no-files-found: error
 
  macos-x86_64:
  
    runs-on: macos-11
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    
    - name: Install SFML
      run: brew install sfml dylibbundler

    - name: Build
      run:  make
    - name: package
      run: |
            chmod +x package_macos 
            ./package_macos
            
    - name: Upload Artifacts
      uses: actions/upload-artifact@v2
      with:
        name: mac-x86_64
        path: ./Game.app
        if-no-files-found: error
   
  
