name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  windows-x86_64:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Build
      run: make
    - name: Package
      run: | 
           ./package_win
    - name: Upload Artifacts
      uses: actions/upload-artifact@v2
      with:
        name: windows-x86_64
        path: | 
             ./Windows
        if-no-files-found: error

  linux-x86_64:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: install SFML
      run: sudo apt-get install libsfml-dev

    - name: Build
      run: make
    - name: Package Dependencies
      run: ldd ./chip-8 | awk 'NF == 4 { system("echo Copying " $3 " && cp " $3 " ./") }'
    - name: Upload Artifacts
      uses: actions/upload-artifact@v2
      with:
        name: linux-x86_64
        path: |
              ./Game
              ./src/LibLinux/
        
        if-no-files-found: error
 
  macos-x86_64:
  
    runs-on: macos-11
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    
    - name: Install SFML
      run: brew install sfml dylibbundler

    - name: Build
      run:  make
    - name: package
      run: |
            chmod +x package_macos 
            ./package_macos
            
    - name: Upload Artifacts
      uses: actions/upload-artifact@v2
      with:
        name: mac-x86_64
        path: ./Game.app
        if-no-files-found: error
   
  
